/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#define DEFAULT 0
#define LOWER   1
#define RAISE   2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/rgb.h>

&left_encoder {
	resolution = <2>;
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// --------------------------------------------- Colemak - DH -------------------------------------------
// | ESC |  Q  |  W  |  F  |  P  |  B  |                            |  J  |  L  |  U  |  Y  |  ;  |  \  |
// | TAB |  A  |  R  |  S  |  T  |  G  |                            |  M  |  N  |  E  |  I  |  O  |  '  |
// | SFT |  Z  |  X  |  C  |  D  |  V  |  ESC  | SPC |  | RET | TAB |  K  |  H  |  ,  |  .  |  /  | CTR |
//                   | MUT | GUI | CTR |  SFT  | SPC |  | RET | BSP | DEL | ALT | HOM |

			bindings = <
	&gresc    &kp Q &kp W &kp F      &kp P    &kp B												 		&kp J 	 &kp L	 &kp U     &kp Y	&kp SEMI &kp BSLH
	&kp TAB   &kp A &kp R &kp S      &kp T    &kp G												 		&kp M	 &kp N   &kp E 	&kp I 	&kp O 	 &kp SQT
	&kp LSHFT &kp Z &kp X &kp C      &kp D    &kp V     &kp ESC    &lt LOWER SPACE		&lt RAISE RET	&kp TAB  &kp K   &kp H    &kp COMMA &kp DOT &kp FSLH &kp RCTRL
					&lt LOWER C_MUTE &kp LGUI &kp LCTRL &kp LSHFT  &lt LOWER SPACE		&lt RAISE RET	&kp BSPC &kp DEL &kp RALT &kp HOME
			>;

			sensor-bindings = <&inc_dec_kp K_VOL_DN K_VOL_UP &inc_dec_kp PG_DN PG_UP>;
		};

		modifier_layer { // keys on each side compliment each other in some way
// ------------------------------------------ MODIFIER LAYER --------------------------------------------
// | ESC |  #  |  %  |  *  |  +  |  @  |                           |  &  |  -  |   =  |  ^  |  $  |  \  |
// | TAB |  {  |  [  |  <  |  (  |  /  |                           |  \  |  )  |   >  |  ]  |  }  |  '  |
// | SFT |  |  |  '  |  !  |  :  |  ,  | ESC |     |  | RET |  TAB |  .  |  ;  |   ?  |  "  |  _  | CTR |
//                   | MUT | GUI | CTR | SFT |     |  | RET |  BSP | DEL | ALT |  HOM |

			bindings = <
	&gresc    &kp HASH &kp PRCNT  &kp STAR  &kp PLUS  &kp AT												 			 &kp AMPS &kp MINUS &kp EQUAL &kp CARET	&kp DLLR  &kp BSLH
	&kp TAB   &kp LBRC &kp LBKT	  &kp LT    &kp LPAR  &kp FSLH														 	 &kp BSLH &kp RPAR  &kp GT	  &kp RBKT	&kp RBRC  &kp SQT
	&kp LSHFT &kp PIPE &kp APOS	  &kp EXCL  &kp COLON &kp COMMA &kp ESC    &trans		&kp RET	&kp TAB  &kp DOT  &kp SEMI  &kp QMARK &kp DQT   &kp UNDER &kp RCTRL
						    	  &kp LSHFT &kp LGUI  &kp LCTRL &kp LSHFT  &trans		&kp RET	&kp BSPC &kp DEL  &kp RALT  &kp HOME
			>;

			sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp PG_DN PG_UP>;
		};

		number_layer {
// ------------------------------------------ NUMBER LAYER --------------------------------------------
// | ESC |  1  |  2  |  3  |  4  |  5  |                          |  6  |  7  |  8  |  9  |     |  \  |
// | TAB |     | LFT |  UP | RGT |     |                          |     |  4  |  5  |  6  |     |  '  |
// | SFT |     |     | DWN |     |     | ESC | SPC |  |     | TAB |     |  1  |  2  |  3  |     | CTR |
//                   | MUT | GUI | CTR | SFT | SPC |  |     | BSP | DEL |  0  | HOM |

			bindings = <
	&gresc    &kp N1 &kp N2   &kp N3     &kp N4    &kp N5												 			 &kp N6   &kp N7    &kp N8    &kp N9    &kp N0 &kp BSLH
	&kp TAB   &none  &kp LEFT &kp UP     &kp RIGHT &none														 	 &none    &kp KP_N4 &kp KP_N5 &kp KP_N5	&none  &kp SQT
	&kp LSHFT &none  &none    &kp DOWN   &none     &none     &kp ESC    &kp SPACE		&trans	&kp TAB  &none    &kp KP_N1 &kp KP_N2 &kp KP_N3 &none  &kp RCTRL
							  &cp C_MUTE &kp LGUI  &kp LCTRL &kp LSHFT  &kp SPACE		&trans	&kp BSPC &kp DEL  &kp KP_N0 &kp HOME
			>;

			sensor-bindings = <&inc_dec_kp K_VOL_DN2 K_VOL_UP2 &inc_dec_kp PG_DN PG_UP>;
		};
	};
};